* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Arial", sans-serif;
  background-color: #FFF;
  color: #000; }

body > div {
  margin: 0 auto;
  max-width: 1200px; }

button, a {
  font-weight: normal;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 14px;
  color: #FFF;
  border: 0px;
  border-radius: 2px;
  background-color: #9b1700;
  cursor: pointer; }
  button:hover, a:hover {
    background-color: #680f00; }

header {
  background: #9b1700;
  color: #FFF;
  overflow-x: hidden;
  white-space: nowrap;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
  position: relative; }
  header nav {
    max-width: 1200px;
    padding: 0.5rem 0.2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 1024px) {
      header nav {
        align-items: center;
        flex-direction: row; } }
    header nav div:first-child {
      padding: .5rem 0.8rem;
      font-size: 1.5rem;
      margin-right: 1em; }
    header nav div:last-child {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
      header nav div:last-child ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 0.4rem; }
        header nav div:last-child ul:last-child {
          font-size: 0.75rem; }
        @media only screen and (min-width: 768px) {
          header nav div:last-child ul {
            margin-top: 0; } }
      header nav div:last-child li {
        margin-right: 0.4em; }
      header nav div:last-child a {
        color: #FFF;
        text-decoration: none;
        padding: .4rem 0.8rem;
        border-radius: 4px; }
        header nav div:last-child a.active {
          color: yellow; }
        header nav div:last-child a:hover {
          background-color: #680f00; }

main {
  padding: 1rem;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
  background-color: antiquewhite;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  min-height: 100vh; }
  @media only screen and (min-width: 768px) {
    main {
      padding-top: calc(81px + 1rem); } }
  @media only screen and (min-width: 1024px) {
    main {
      padding-top: calc(59.2px + 1rem); } }
  main h2 {
    font-size: 1.5rem;
    margin-bottom: 1em; }
  main p {
    margin-bottom: 1em; }
  main ul.meldingen {
    color: white;
    margin-bottom: 1em; }
    main ul.meldingen li {
      border-radius: 4px;
      margin-bottom: .5em;
      list-style-type: none;
      padding: 1em;
      background-color: green; }
      main ul.meldingen li.fout {
        background-color: #680f00; }

form div {
  margin-bottom: 1em;
  margin-right: .5em;
  display: flex;
  align-items: center; }
  form div > * {
    margin-right: .5em;
    display: flex;
    justify-content: space-between; }

form label {
  font-weight: 600; }

form input, form textarea, form select {
  padding: 6px 12px;
  border-radius: 2px; }

table {
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%; }
  table th, table td {
    padding: .4em;
    border: 1px solid black;
    font-size: .8rem; }
    @media only screen and (min-width: 768px) {
      table th, table td {
        font-size: 1rem; } }
    table th:last-child, table td:last-child {
      border-left: 2px solid black; }
  table tr {
    background-color: lightgrey; }
    table tr:nth-child(2) {
      background: white; }
  table thead {
    border-bottom: 2px solid black; }
    table thead tr {
      color: white;
      background-color: #9b1700;
      word-break: break-word; }
  table tfoot {
    border-top: 2px solid black; }
    table tfoot tr {
      color: white;
      background-color: #9b1700; }
  table button {
    padding: 4px 7px;
    margin-right: .2em; }
  table .wijzigen-winkelwagen {
    display: flex; }

.home form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.home section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .home section figure {
    max-width: 250px;
    position: relative;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
    background-color: #FFF;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .home section figure img {
      object-fit: cover;
      width: 100%; }
    .home section figure figcaption {
      margin-top: .5rem;
      width: 100%;
      padding: 1em;
      word-break: break-all;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .home section figure figcaption button {
        display: flex; }
        .home section figure figcaption button > i:first-child {
          margin-right: 4px; }
