.boek {
  section {
    display: flex;
    flex-direction: column;

    @include tablet{
      flex-direction: row;
      justify-content: space-between;
    }

    img {
      max-width: 100%;
    }

    > div {
      flex: 1;

      .boek-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: .4em;

        > span {
          flex: 1;
          &:first-child {
            font-weight: bold;
          }
        }
      }
    }
  }
}
